brax
jax[cuda12]
mujoco
mujoco-mjx
dm_control
playground
torch
numpy
matplotlib
IPython
# gymnasium[all]  # sudo apt install swig
gym
gymnasium
shimmy
opencv-python
imageio
mediapy
nvitop
ipykernel
ipywidgets

